/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*for label*/
.label-vis {
  display: block;
  margin: 0.25em;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}
/*for input type text flex size under the label half the page*/
.input-vis{
  width: 60%;
  padding: 0.5em;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  margin-bottom: 0.5em;
}
.label-cal {
  display: block;
  margin: 0.25em;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}
/*for input type text flex size under the label half the page*/
.input-cal{
  padding: 0.5em;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}
/*for input type button*/
button {
  padding: 0.5em;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: #f0f0f0;
  cursor: pointer;
}
svg {
  border: 1px solid #adb5bd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Optional: Adds rounded corners to the SVG */
}
html {
  font-family: Arial;
, sans-serif;
}

.circlesNum{
  font-size: 25px;
  font-weight: bold;
}

.selected {
  background-color: #add8e6; /* Light blue background for selected row */
}
